.down-arrow{
	position: absolute;
   top: 520px;

   max-width: 600px;
   margin-left: 50%;
   transform: translateX(-50%);
  }

  
.down2-arrow{
  position: absolute;
    top: 1055px;
  max-width: 600px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

